<h1>Nearby posts</h1>

<%= form_with(url: "/hangouts", method: "get") do %>
  The most recent posts within
  <%= select_tag(:distance, options_for_select([['100 metres', 0.1], ['250 metres', 0.25], ['500 metres', 0.5], ['1 kilometre', 1]], 0.1)) %>
  of <%= current_user.address %>
  <%= submit_tag "Update list" %>
<% end %>

<%= "No posts found near you. Be the first to add one:" if @posts.length == 0 %>

<%= link_to "Add post", new_post_path, class: "button button-primary" %>

<% @posts.each do |post| %>
  <div class="post">
    <%= "#{post.user.name}:" %>
    <% if post.isolating == true %>
      I am <strong>self-isolating</strong> and need help with...
    <% else %>
      If you are self-isolating, <strong>I can help</strong> you with...
    <% end %>
    <div class="checkboxes">
      <div class="checkbox <%= post.shopping ? "checked" : "unchecked" %>">
        <% if post.shopping %>
          <i class="far fa-check-square"></i>
        <% else %>
          <i class="far fa-square"></i>
        <% end %>
        Picking up shopping
      </div>

      <div class="checkbox <%= post.mail ? "checked" : "unchecked" %>">
        <% if post.mail %>
          <i class="far fa-check-square"></i>
        <% else %>
          <i class="far fa-square"></i>
        <% end %>
        Posting mail
      </div>

      <div class="checkbox <%= post.phone_call ? "checked" : "unchecked" %>">
        <% if post.phone_call %>
          <i class="far fa-check-square"></i>
        <% else %>
          <i class="far fa-square"></i>
        <% end %>
        A friendly phone call
      </div>

      <div class="checkbox <%= post.supplies ? "checked" : "unchecked" %>">
        <% if post.supplies %>
          <i class="far fa-check-square"></i>
        <% else %>
          <i class="far fa-square"></i>
        <% end %>
        Urgent supplies
      </div>
    </div>

    Notes: <%= post.comments %>
    <div>
      Updated <%= time_ago_in_words(post.updated_at) %> ago
    </div>
    <%= link_to "Message #{post.user.name}", new_post_conversation_path(post) %>
  </div>
<% end %>
