<h1>New post</h1>

<div class="post">
  <%= simple_form_for @post do |f| %>
    <div class="form-inline">
      <%= f.input :address, label: "Address:" %>
    </div>
    <%= f.input_field :isolating,
        as: :radio_buttons,
        collection: [['true', 'I am self-isolating and need help with:'], ['false', 'I am not self-isolating and can help with:']],
        label_method: :second,
        value_method: :first
    %>
    <div class="checkboxes">
      <div class="checkbox">
        <%= f.input :shopping, as: :boolean, label: "Picking up shopping" %>
      </div>
      <div class="checkbox">
        <%= f.input :mail, as: :boolean, label: "Posting mail" %>
      </div>
      <div class="checkbox">
        <%= f.input :phone_call, as: :boolean, label: "A friendly phone call" %>
      </div>
      <div class="checkbox">
        <%= f.input :supplies, as: :boolean, label: "Urgent supplies" %>
      </div>
    </div>
    <p>Notes (<span id="char-count">255</span> characters left):</p>
    <%= f.input :comments, as: :text, label: false %>
    <%= f.button :submit %>
  <% end %>
</div>
